<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	</head>
	<body ng-app='myapp'>
		<br>
		<nav class="navbar navbar-default">
        	<div class="container-fluid">
          		<div class="navbar-header">
            		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              			<span class="sr-only">Toggle navigation</span>
              			<span class="icon-bar"></span>
              			<span class="icon-bar"></span>
              			<span class="icon-bar"></span>
            		</button>
					<p><a class="navbar-brand" href="#">pycon india, 2017</a></p>
          		</div>
          		<div id="navbar" class="navbar-collapse collapse">
					{% if user.is_authenticated %}
		    			<ul class="nav navbar-nav">
							<li><a href="/app/home">Home</a></li>
			    			<li><a href="/#!app/view_profile">View Profile</a></li>
			    			<li><a href="/#!/app/edit_profile">Edit Profile</a></li>
							<li><a href="/app/change_password">Change Password</a></li>
							<li><a href="/#!/app/post_request">Create Request</a></li>
							<li><a href="/#!/app/request_details">Request Details</a></li>
							<li><a href="/app/request_status"> Request Status </a></li>
							<li><a href="/#!/app/admin">Admin</a></li>
						</ul>
            			<ul class="nav navbar-nav navbar-right">
							<li><a href="/app/logout_page">logout</a></li>
							<li><a href="#">{{user}}</a></li>
            			</ul>
						<script src='/static/js/controllers.js'></script>
					{% else %}
            			<ul class="nav navbar-nav navbar-right">
			  				<li><a href="/app/reset_password"> forgot password</a></li>
			  				<li><a href="/app/login_page">Login</a></li>
              				<li><a href="/app/register">Register</a></li>
            			</ul>
					{% endif %}
          		</div>
        	</div>
      	</nav> 
	  	<div ng-view></div>
	</body>
</html>
