<div class='container'>
	<link rel='stylesheet' type='text/css' href='/static/css/style.css'></link>
	<br><br><br>
	<form name="myForm" method='post' action='/app/post_request' novalidate>
			<h5 class='input-details'>Firstname:<span style='display:inline-block; width:150px;'></span><input type='text' name="first_name" ng-model="first_name" size="30" maxlength="20"required></input>
			<span class='error-condition' ng-show="myForm.first_name.$touched && myForm.first_name.$invalid">The firstname is required.</span>
		</h5>
		<h5 class='input-details'>Lastname: <span style='display:inline-block; width:150px;'></span><input type='text' name='last_name' ng-model="last_name" size="30"  maxlength="20" required></input>
			<span class='error-condition' ng-show="myForm.last_name.$touched && myForm.last_name.$invalid">The lastname is required.</span>
		</h5>
		<h5 class='input-details'>Phone Number:<span style='display:inline-block; width:110px;'></span><input type='text' pattern='[0-9]{10}' name='phone_number' size="30" ng-model='phone_number'  maxlength="10" required></input>
			<span class='error-condition' ng-show="myForm.phone_number.$touched && myForm.phone_number.$dirty && myForm.phone_number.$invalid">phone number is invalid.</span>
			<span class='error-condition' ng-show='myForm.phone_number.$touched && myForm.phone_number.$error.required'>phone number is required.</span>
		</h5>
		<h5 class='input-details'>Email:<span style='display:inline-block; width:180px;'></span> <input type='email' name='email' ng-model='email' size="30" maxlength=22 required></input>
			<span class='error-condition' ng-show="myForm.email.$dirty && myForm.email.$touched && myForm.email.$invalid">email id is invalid.</span>
			<span class='error-condition' ng-show="myForm.email.$touched && myForm.email.$error.required">email id is required</span>
		</h5>
		<h5 class='input-details'> Comapny:<span style='display:inline-block; width:150px;'></span><input type='text' name='company' ng-model='company'  size="30" maxlength=26 required></input>
			<span class='error-condition' ng-show="myForm.company.$touched && myForm.company.$invalid">company name is required.</span>
		</h5>
		<h5 class='input-details'> Address: <span style='display:inline-block; width:160px;'></span><textarea rows='3' columns='40' name='address' ng-model='address' sizd=30 maxlength=28 required></textarea>
			<span class='error-condition' ng-show="myForm.address.$touched && myForm.address.$invalid">address is required.</span>
		</h5>
		<h5 class='input-details'>State:
			<span style='display:inline-block; width:180px;'></span>
        	<select ng-model='state' name='state' required>
               <option ng-repeat="state in state_list" >{{ state.name }}</option>
        	</select>
			<span class='error-condition' ng-show="myForm.state.$touched && myForm.state.$invalid">select the state.</span>
		</h5>
        <br>
        <br>
		<span style='display:inline-block; width:180px;'></span>
        <input type='submit' ng-disabled="myForm.first_name.$invalid || myForm.last_name.$invalid || myForm.phone_number.$invalid || myForm.email.$invalid || myForm.company.$invalid || myForm.address.$invalid || myForm.state.$invalid."/> 
	</form>
</div>
