<div class='container'>
	<br>
	<br>
	<h3>Request Status</h3>	
	<br>
	<span ng-if="details.not_registered == 'True'">
		<h4>Hi, {{ details.username}} </h4>
		<br>
		<h5> You are not submitted request form to participate in the conference.<br>You can request for the conference <a href='/#!/app/post_request'>here</a></h5>
	</span>
	<span ng-if="details.not_registered == 'False'">
		<h4>Hi, {{ details.username }}</h4>
		<br>
		<h5>Your request for the conference is {{ details.status }}</h5>
	</span>
	
</div>
