span.error-condition
{
	font-size:13px;
	color:red;
}
h5.input-details
{
	font-size:17px;
	color:'red';
}
input
{
    padding: 3px 15px;
    margin: 8px 0;
    box-sizing: border-box;
	border: none;
    border-bottom: 2px solid red; 
} 
input[type=submit]
{
	width:100px;
	border: 5px;
}
input:focus
{
	border: 3px solid #555;
}
div.container

{
	float:middle;

	padding: 20px;

}
